body,html {
    max-width: 100%;
    background-color:transparent;
    font-family:-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue","Segoe UI","ヒラギノ角ゴ ProN W3",Meiryo,sans-serif;
    color: white;
}

.section {
    text-align: right;
}

.section b, .about b {
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #d9e1e8;
}

.section b {
    display: block;
}

.container {
    display: flex;
    justify-content: space-around;
}

.invisible {
    display: none;
}
